<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><%= title %></title>
        <link rel="manifest" href="/manifest.json" />
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/pharma.css">
        <!-- Bootstrap core CSS -->
        <link href="css/style.min.css" rel="stylesheet">
    </head>
    <body>
<% include distributor_header %>    
        <div class="content" style="margin: 10px;">
            <div class="panel panel-default panel-table" style="padding: 2%">
                <div class="panel-heading" style="text-align: center">
                    Active Orders
                </div>
                <div class="panel-body">                    
                        <table id="porder" class="table table-striped table-hover table-fw-widget" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Order_Id</th>
                                    <th>Purchased_on</th>
                                    <th>Retailer</th>
                                    <th>Products</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th>DownloadCsv</th>
                                    <th>Mail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% docu.forEach((orders) => { %>
                                <tr>
                                    <td><strong><%= orders._id %></strong></td>
                                    <td><strong><%= moment(orders.created_at).format('YYYY/DD/MM , h:mm:ss a') %></strong></td>
                                    <td><strong><%= orders.pharmacy_id.pharma_name %></strong></td>
                                    <td><% orders.order_items.forEach((order) => { %>
                                        <strong><%= order.medicento_name %> * <%= order.quantity %></strong><br/>
                                    <%}) %></td>
                                    <td><strong><%= orders.grand_total %></strong></td>
                                    <td><strong ><%= orders.status %></strong></td>
                                    <td>
                                        <Button type="button" class="btn btn-primary" onclick="dataCsv1('<%= orders._id %>')">DownloadCsv</Button></td>
                                    </td>
                                    <td>
                                        <form action="/csvFile" method="POST">
                                            <input type="text" name="id" value="<%= orders._id %>" hidden>
                                            <Button type="submit" class="btn btn-primary">Mail</Button></td>
                                        </form>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                        </div>
                        </div>
                        <div id="container1" style="display:none;"></div>
                    </div>
        </div>     
            <script src="js/jquery-3.3.1.min.js"></script>
            <script src="js/pharma.js"></script>
            <script src="js/dataTables.js"></script>
            <script ></script>
            <script>
                $(document).ready(function() {
                    $('#porder').DataTable({
                        "order": [[ 6, "asc" ]]
                    });
                });
                function dataCsv1(data) {
                    var arr = [];
                    var filename1 = 'SalesOrder_Medicento_';
					<% docu.forEach((order) => { %>
                        var id = '<%= order._id %>'
                        if(id == data) {
                            console.log('<%= order.pharmacy_id.vpicode %>');
                            filename1 += '<%= order.pharmacy_id.vpicode %>'+'_'+'<%= moment(order.created_at).format("DD-MM-YY") %>';
                            <% for(var i=0;i<order.order_items.length;i++){ %>
						        arr.push(['<%= order.pharmacy_id.vpicode %>','<%= order.order_items[i].code %>','<%= order.order_items[i].medicento_name %>', '<%= order.order_items[i].quantity %>'])
						    <% } %>
					
                        }
                    <% })%>
                    var csv = 'Party Code, Item Code, Item Name, Qty\n';
                    arr.forEach(function(row) {
                        csv += row.join(',');
                        csv += "\n";
                    })
                    console.log(csv);
                    var hiddenElement = document.createElement('a');
                    var csv1 = 'data:text/csv;charset=utf-8,' + csv;
                    csv = encodeURI(csv1);
                    hiddenElement.setAttribute('href',csv);
                    hiddenElement.setAttribute('download', filename1+'.csv');
                    document.getElementById('container1').appendChild(hiddenElement);
                    hiddenElement.click();
                }
            </script>
        </body>
</html>
