        <% include pharmacy_header %>
        <div id="content">
                    <div class="container">
                        <h2 class="text-danger" ><%= doc.Name %></h2>
                        <div style="background: rgb(34,34,34);height: 2px;"></div>
                        <h4>Today: <%= moment(date).format('DD/MM/YY') %></h4>
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-4" style="height: 240px;">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                            <span style="margin-left:30%;"><%=totalOrders%> Order(s)</span>
                                    </div>
                                    <div class="panel-body">
                                            <span>Approved <%=statusActive%></span>
                                            <div class="progress" style="margin-bottom: -1px;">
                                              <div class="progress-bar bg-info" role="progressbar" aria-valuenow="<%=statusActive%>" aria-valuemax="<%=totalOrders%>" aria-valuemin="0" style="width: <%=(statusActive*100/totalOrders)%>%"></div>

                                            </div>
                                            <span >Pending <%=statusPacked+statusShipped%></span>
                                            <div class="progress" style="margin-bottom: -1px">
                                              <div class="progress-bar bg-info" role="progressbar" aria-valuenow="<%=statusPacked+statusShipped%>" aria-valuemax="<%=totalOrders%>" aria-valuemin="0" style="width: <%=((statusPacked+statusShipped)*100/totalOrders)%>%"></div>

                                            </div>
                                            <span>Canceled <%=statusCanceled%></span>
                                            <div class="progress" style="margin-bottom: -1px">
                                              <div class="progress-bar bg-info" role="progressbar" aria-valuenow="<%=statusCanceled%>" aria-valuemax="<%=totalOrders%>" aria-valuemin="0" style="width: <%=(statusCanceled*100/totalOrders)%>%"></div>

                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-3">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <span style="margin-left:30%;"><%=totalQuantity%> Product(s)</span>
                                    </div>
                                    <div class="panel-body">
                                        <h4><strong>Top Selling</strong></h4>
                                        <ul style="list-style: none;">
                                            <li>
                                              <strong><%=OrderitemsArray[0]?OrderitemsArray[0][0]:"";%></strong> - <span class="badge"> <%=OrderitemsArray[0]?OrderitemsArray[0][1]:"";%></span>
                                            </li>
                                            <li>
                                                <strong><%=OrderitemsArray[1]?OrderitemsArray[1][0]:"";%></strong> - <span class="badge"> <%=OrderitemsArray[1]?OrderitemsArray[1][1]:"";%></span>
                                            </li>
                                            <li>
                                                <strong><%=OrderitemsArray[2]?OrderitemsArray[2][0]:"";%></strong> - <span class="badge"> <%=OrderitemsArray[2]?OrderitemsArray[2][1]:"";%></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-4" style="height: 240px;">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                                <span style="margin-left:30%;">Distributors</span>
                                        </div>
                                        <div class="panel-body">
                                                <span>Vimal Pharma International <%=totalOrders%></span>
                                                <div class="progress" style="margin-bottom: -1px;">
                                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%=totalOrders%>" aria-valuemax="<%=totalOrders%>" aria-valuemin="<%=totalOrders%>" style="width: 100%">
                                                    </div>
                                                </div>
                                                <!-- <span >Delivered 12</span>
                                                <div class="progress" style="margin-bottom: -1px">
                                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="25" aria-valuemax="100" aria-valuemin="0" style="width: 25%">
                                                        </div>
                                                </div>
                                                <span>Returned 2</span>
                                                <div class="progress" style="margin-bottom: -1px">
                                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="25" aria-valuemax="100" aria-valuemin="0" style="width: 25%">
                                                    </div>
                                                </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="well">
                                        <h4 class="text-danger">Lifetime Sales <span style="float: right;color: rgb(34,34,34);"><i class="fa fa-rupee"></i><%=totalSales%></span></h4>
                                        <!-- <h4 style="color: rgb(34,34,34);">[ 27/08/18 - 28/02/19 ]</h4> -->
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="well">
                                        <h4 class="text-primary">Total Profit<span style="float: right;color: rgb(34,34,34);"><i class="fa fa-rupee"></i>0</span></h4>
                                        <h4 style="color: rgb(34,34,34);">[ Medicento Discount ]</h4>
                                    </div>
                                </div>
                            </div>
                            <h2> Recent Orders : </h2>
                            <button class="btn btn-danger">All</button>
                            <button class="btn btn-primary" style="margin-left: 20px;">Pending</button>
                            <button class="btn btn-success" style="margin-left: 20px;">Delivered</button>
                            <ul>
                              <li><h4>Order # <%=totalOrders>=1?order1.id:"Not Applicable"%> is <span class="text-primary"><%=totalOrders>=1?order1.state:"Not Applicable"%></span></h4></li>
                                <li><h4>Order # <%=totalOrders>=2?order2.id:"Not Applicable"%> is <span class="text-primary"><%=totalOrders>=2?order2.state:"Not Applicable"%></span></h4></li>
                                <li><h4>Order # <%=totalOrders>=3?order3.id:"Not Applicable"%> is <span class="text-primary"><%=totalOrders>=3?order3.state:"Not Applicable"%></span></h4></li>
                            </ul>
                        </div>
                    </div>
            </div>
            <!-- /#wrapper -->
            <script src="js/jquery-3.3.1.min.js"></script>
            <script src="js/pharma.js"></script>
        </body>
</html>
