<!--Main layout for order page -->
        <% include pharmacy_header %>
        <div class="content" style="margin: 10px;">
                            <div class="panel panel-default panel-table" style="padding: 2%">
                                <div class="panel-heading" style="text-align: center; margin-left:-20px;">
                                    <div class="container">
                                    <form>
                                    <div  style="border:solid;width:50%;margin-left:-100px; display: inline-block;">
                                    <input type="date" id="myDate" value="2019-06-20">
                                    <input type="date" id="myDate" value="2019-07-20">
                                     </div>
                                    <button type="submit" style="background-color: DodgerBlue;color: #fff;cursor: pointer;width: 15%;height: 40px;margin-left: -8px;"><i class="fa fa-search"></i></button>
                                    </form>
                                    </div>
                                </div>
                                    <div class="panel-body" style="margin-top:20px;">
                        <table id="porder" class="table table-striped table-hover table-fw-widget" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Order No</th>
                                    <th>Order Date</th>
                                    <th>Products</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% docu.forEach((orders) => { %>
                                <tr>
                                    <td><strong><%= orders._id %></strong></td>
                                    <td><strong><%= moment(orders.created_at).format('LLLL') %></strong></td>
                                    <td><% orders.order_items.forEach((order) => { %>
                                        <strong><%= order.medicento_name %> * <%= order.quantity %></strong><br/>
                                    <%}) %></td>
                                    <td><strong><%= orders.grand_total %></strong></td>
                                    <td><strong ><%= orders.status %></strong></td>
                                    <td><button class="btn btn-primary" data-toggle="modal" data-target="#or<%= orders._id%>">View</button></td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                        <% include modal_pharamacy_order_details.ejs %>
                        </div>
                        </div>
                    </div>
        </div>

            <script src="js/jquery-3.3.1.min.js"></script>
            <script src="js/pharma.js"></script>
            <script src="js/dataTables.js"></script>
            <script ></script>
            <script>
                $(document).ready(function() {
                    $('#porder').DataTable();
                });
            </script>
        </body>
</html>

        <!--<div class="content" style="margin: 10px;">
                            <div class="panel panel-default panel-table" style="padding: 2%">
                                    <div class="panel-heading" style="text-align: center">
                                        Active Orders
                                    </div>
                                    <div class="panel-body">
                        <table id="porder" class="table table-striped table-hover table-fw-widget" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Order_code</th>
                                    <th>Purchased_on</th>
                                    <th>Products</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th>Manage</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% docu.forEach((orders) => { %>
                                <tr>
                                    <td><strong><%= orders._id %></strong></td>
                                    <td><strong><%= moment(orders.created_at).format('LLLL') %></strong></td>
                                    <td><% orders.order_items.forEach((order) => { %>
                                        <strong><%= order.medicento_name %> * <%= order.quantity %></strong><br/>
                                    <%}) %></td>
                                    <td><strong><%= orders.grand_total %></strong></td>
                                    <td><strong ><%= orders.status %></strong></td>
                                    <td><button class="btn btn-primary" data-target="#or">View</button></td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                        </div>
                        </div>
                    </div>
        </div>
        <% include pharamacy_order_details.ejs %>
            <script src="js/jquery-3.3.1.min.js"></script>
            <script src="js/pharma.js"></script>
            <script src="js/dataTables.js"></script>
            <script ></script>
            <script>
                $(document).ready(function() {
                    $('#porder').DataTable();
                });
            </script>
        </body>
</html>-->
